<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <pre style="background-color: pink;">{{version}}
    last: {{lastTouched}}</pre>
  </h1>
  <img width="400" alt="Angular Logo" src="https://media.gq-magazine.co.uk/photos/604a356c78d908f40e6180a7/16:9/w_2580,c_limit/11032020_TG_03.jpg">
</div>
<p style="background-color: rgb(119, 96, 87);">
  Building a Web App using Spring Boot, Angular 6 and Maven.
  1. build
  2. debug
  3. run all the crap from command line.
</p>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=YDRNMAJo0MA">blondiebytes: Learn SpringBoot in 10 minutes | SpringBoot REST API Tutorial</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://swathisprasad.medium.com/building-a-web-app-using-spring-boot-angular-and-maven-aab19fc18cbb">
      Building a Web App using Spring Boot, Angular 6 and Maven
    </a></h2>
  </li>
</ul>
(3)
<app-my></app-my>

